@import url("https://fonts.googleapis.com/css?family=Grand+Hotel");


q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}


#scene li > div {
  position: absolute;
}
ul li .title {
  width: 100%;
  text-align: center;
  top: 300px;
  font-size: 80px;
  text-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px;
}
ul li .balloon {
  background: rgba(212, 48, 71, 0.8);
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -moz-box-shadow: rgba(0, 0, 100, 0.2) -5px -5px 10px inset;
  -webkit-box-shadow: rgba(0, 0, 100, 0.2) -5px -5px 10px inset;
  box-shadow: rgba(0, 0, 100, 0.2) -5px -5px 10px inset;
}
ul li .balloon::before {
  content: "";
  width: 1px;
  height: 200px;
  position: absolute;
  bottom: -200px;
  left: 50%;
  background: white;
}

@keyframes float {
  0% {
    bottom: -30%;
  }
  20% {
    bottom: 150%;
  }
  100%{
	  bottom: 150%;
  }
}

.balloon{
  bottom:-200px;
}

.balloon0 {
  width: 50px;
  height: 65px;
  left: 12%;
  animation: float 30s linear 19s infinite normal;
}

.balloon2 {
  width: 70px;
  height: 91px;
  left: 56%;
  animation: float 18s linear 30s infinite normal;
}

.balloon5 {
  width: 100px;
  height: 130px;
  left: 31%;
  animation: float 39s linear 40s infinite normal;
}

.balloon7 {
  width: 120px;
  height: 156px;
  left: 72%;
  animation: float 12s linear 60s infinite normal;
}